!!! HTML
%html
%head
  %titleWhyApp
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        = link_to "Home", root_path, class: "navbar-brand"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li=link_to "Store", store_path
          %li=link_to "Apply", apply_path
          %li=link_to "Fees & Time", requirements_path
          %li=link_to "Capital", capital_path
          %li=link_to "Affiliates", affiliates_path
          %li=link_to "Culture", culture_path
          %li=link_to "FAQ", faq_path
          %li=link_to "About", about_path
          %li=link_to "Contact", contact_us_path
          
  %br
  %br
  %br

  .container

    - if flash[:notice]
      %p.alert.alert-success
        = flash[:notice]

    = yield

    %footer
      %hr
      Copyright @ The Biz Accelerator 2015
